$breakpoint_xs : 575px;
$breakpoint_sm : 576px;
$breakpoint_md : 768px;
$breakpoint_lg : 992px;
$breakpoint_xl : 1200px;

@mixin bg-iconsvg($svg, $color : '#000'){
  $url : str-replace("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color}' #{$svg} %3C/svg%3E", "#", "%23") !default;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% auto;
  background-size: 100% 100%;
}

@mixin content-icon($svg, $color : '#000'){
  $url : str-replace("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color}' #{$svg} %3C/svg%3E", "#", "%23") !default;
  content: url($url);
}


// Mixins FOR Screen Sizes
@mixin custom-screen-width-min($winW){
  @media (min-width: #{$winW}){
    @content
  }
}

@mixin custom-screen-width-max($winW){
  @media (max-width: #{$winW}){
    @content
  }
}

@mixin custom-screen-width-min-max($minW, $maxW){
  @media (min-width: #{$minW}) and (max-width: #{$maxW}){
    @content
  }
}


@mixin xsmall-screen{
  @media (max-width: #{$breakpoint_xs}){
    @content
  }
}

@mixin small-screen{
  @media (min-width: #{$breakpoint_sm}){
    @content
  }
}

@mixin medium-screen{
  @media (min-width: #{$breakpoint_md}){
    @content
  }
}

@mixin large-screen{
  @media (min-width: #{$breakpoint_lg}){
    @content
  }
}

@mixin xlarge-screen{
  @media (min-width: #{$breakpoint_xl}){
    @content
  }
}