body::-webkit-scrollbar {
  width: 0.5rem;

  @include custom-screen-width-min-max(1200px, 1700px){
    width: 0.6rem;
  }

  @include custom-screen-width-min(1700px){
    width: 0.7rem;
  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid slategrey;
}

body{
  font-family: "SF Pro Display", sans-serif;
  background-color: $bg-color;
}

[class*=col-], .col{
  padding: 0;
}

html{
  font-size: 10px;
  @include small-screen{
    font-size: 12px;
  }
  @include medium-screen{
    font-size: 14px;
  }
  @include xlarge-screen{
    font-size: 16px;
  }
}

a{
  color: #1c1c1c;
  &:hover{
    text-decoration: none;
  }
}

.unstyled{
  list-style: none;
  padding: 0;
  margin: 0;
}