.content{
  margin: px-to-vw(120px, 12px) auto px-to-vw(30px, 12px);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: #fff;
  padding: 0;
}

.heading-title{
  font-size: px-to-vw(24px, 12px);
  font-weight: bold;
  line-height: 1;
  background: $primary-color;
  padding: px-to-vw(12px, 12px) px-to-vw(25px, 12px);
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.main{
  position: relative;
  padding: px-to-vw(50px, 12px);
  font-size: 1rem;
}
