.footer {
  max-height: px-to-vw(200px, 12px);
  padding: px-to-vw(60px, 12px) 0;
  background: $footer-bg;
  color: $footer-font;

  font-size: px-to-vw(14px, 12px);

  .container > ul li {
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
      position: relative;
    }

    i.fa {
      position: absolute;
      margin-top: px-to-vw(3px, 12px);
      margin-left: px-to-vw(-30px, 12px);
      vertical-align: center;
    }

  }

  a {
    color: $footer-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  .footer-social {

    position: relative;

    p {
      border-bottom: 1px solid #e2e2e2;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: px-to-vw(180px, 12px);

      li {
        text-align: center;
      }
    }
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: darken(white, 50%);
      }

    }
    i {
      display: block;
    }

  }
}