.header {
  background: #fff;

  .header-top {
    height: px-to-vw(50px, 12px);
    background: $header-font;
    font-size: px-to-vw(16px, 12px);
    color: white;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  .header-social {
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        text-align: center;
        margin: 0;
        width: px-to-vw(67px, 12px);
        padding: px-to-vw(4px, 12px);
        padding-right: 0;

        border-left: 1px solid #4e4e4e;

        &:last-of-type {
          border-right: 1px solid #4e4e4e;
        }

        i {
          color: $social-color;
          font-size: px-to-vw(24px, 12px);

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  $color-why-donntu: #4776b7;
  $color-goz: #4d9e9b;
  $color-ask: #ccd71c;
  $color-profile: #db6a3e;

  $icon-user: url('../img/icons/user.png');
  $icon-ask: url('../img/icons/question.png');
  $icon-university: url('../img/icons/university.png');

  $header-icons: (
          why : $icon-university,
          goz : $icon-university,
          ask : $icon-ask,
          profile : $icon-user
  );

  $header-icons-color: (
          why : $color-why-donntu,
          goz : $color-goz,
          ask : $color-ask,
          profile : $color-profile
  );

  .header-menu {
    height: px-to-vw(150px, 12px);
    max-height: px-to-vw(150px, 12px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .brand {
      margin-left: px-to-vw(10px, 12px);
    }

    .list-inline {
      margin: 0;
      margin-left: px-to-vw(100px, 12px);
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

  }

  .list-inline-item {
    display: flex;
    align-items: center;
    line-height: 0.5;
    box-shadow: none;

    a {
      margin-left: px-to-vw(16px, 12px);
      text-decoration: none;
    }

    h2 {
      font-size: px-to-vw(18px, 12px);
      font-weight: bold;
      color: #363636;
      margin: 0;
      align-self: center;
    }
    h3 {
      font-size: px-to-vw(12px, 12px);
      color: $primary-color;
      margin: 0;
      align-self: flex-start;
    }

    @each $theme, $color in $header-icons-color {
      &--#{$theme}:before {
        content: '';
        display: block;
        border-radius: 50%;
        min-height: px-to-vw(39px, 12px);
        min-width: px-to-vw(39px, 12px);

        background: $color;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: auto auto;
        background-size: auto auto;
      }
    }

    @each $theme, $icon in $header-icons {
      &--#{$theme}:before {
        background-image: $icon;
      }
    }
  }
}

