#main{

  .news-item{
    margin-top: px-to-vw(60px, 12px);
    padding-bottom: px-to-vw(30px, 12px);
    border-bottom: 1.5px solid #e3e3e3;


    &:last-of-type{
      border-bottom: none;
      padding-bottom: px-to-vw(10px, 12px);
    }

  }

  .news-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    font-size: px-to-rem(18px);

    padding: 0 px-to-vw(30px, 12px);
    padding-bottom: px-to-vw(10px, 12px);

    .col:first-of-type{
      a{
        position: relative;
        color: black;
        text-decoration: none;
        display: inline-block;
        line-height: 1.2;
        font-weight: bold;
        font-size: px-to-rem(18px);


        &:after{
          position: absolute;
          left: 0;
          bottom: -5px;
          content: '';
          display: block;
          height: 2px;
          background: #000;
          width: 0;
          transition: width 0.5s;
        }

        &:hover {
          &:after{
            width: 100%;
          }
          text-decoration: none;
        }
      }

    }

    & > span:last-of-type{
      color: #a1a1a1;
      font-size: px-to-rem(14px);
    }
  }

  .news-item-img{
    height: px-to-rem(200px);
    overflow: hidden;
  }

  .news-item-text{
    font-size: px-to-vw(14px, 12px);
    color: #363636;
    padding: px-to-vw(30px, 12px);
    padding-bottom: 0;

    &+p{
      padding-right: px-to-vw(30px, 12px);
      a{
        color: $primary-color;
        font-size: px-to-vw(14px, 12px);
        line-height: 1.2;

        &:hover{
          text-decoration: none;
          border-bottom: 1px solid $primary-color;
        }
      }

    }
  }

  .cal-href, .news-href{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: px-to-vw(30px, 12px) 0;
    background-color: #fff;
    margin-top: px-to-vw(-30px, 12px);
    margin-bottom: px-to-vw(30px, 12px);
    color: #469a97;
    text-transform: uppercase;

    line-height: 1.2;

    font-size: px-to-vw(14px, 12px);
    font-weight: bold;
    border-top: 1px solid #e3e3e3;


    box-shadow: 2px 2px 4px rgba(0,0,0,.2);

    &:hover{
      color: #356a67;
    }
  }

  .news-href{
    color: #4071b4;
    &:hover{
      color: #304d7e;
    }
  }

  #cal{
    padding: px-to-vw(20px, 12px);
    padding-bottom: 0;
    .cal-header{
      margin-bottom: px-to-vw(12px, 12px);

      &__label{
         align-items: center !important;
        flex-direction: column-reverse !important;

        [data-calendar-label=year]{
          font-size: px-to-vw(14px, 12px);
        }

        [data-calendar-label=month]{
          font-size: px-to-vw(18px, 12px);
        }

      }
      &-month{
        width: 100%;
        justify-content: center !important;
      }

      &-events{
        display: none;
      }
    }

    .cal-body{
      .cal-date{
        span{
          font-size: px-to-vw(17px, 12px);
        }
      }
    }

    .events{
      margin-top: px-to-vw(40px, 12px);
      h3{
        font-size: px-to-vw(18px, 12px);
        text-decoration: underline;
      }
      .event-date, .event-name{
        font-size: px-to-vw(16px, 12px);
      }

      & > .row{
        margin-top: px-to-vw(24px, 12px) !important;
      }

      .event-date{
        font-weight: bold;
        color: #469a97;
      }
    }
  }

  #usefull-links{
    .content{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .heading-title{
      background-color: #3aa275;
    }

    .unstyled{
      padding: 1vw 2.08333vw;

      a{
        color: #3aa275;

        &:hover{
          color: darken(#3aa275, 10%);
        }
      }
    }
  }
}