.navbar{
  background: $primary-color;
  font-family: $font-regular;
  font-weight: bold;
  justify-content: space-between;
  padding: 0;


  ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  li{
    display: inline-block;

  }

  .nav-link{
    text-transform: uppercase;
    color: white;
    font-size: px-to-vw(18px, 12px);

    &:hover{
      background-color: #fff;
      color: $primary-color
    }
  }

}

#doc-list{
  position: absolute;
  top: 100%;
  min-width: 150%;
  left: 0;
  z-index: 5;
  a{
    display: block;
    background-color: #fff;
    padding: 0.5rem 0.7rem;
    color: $primary-color;
    &:hover{
      background-color: $primary-color;
      color: white;
      text-decoration: none;
    }
  }
}


