#news-item-expand{

  .news-item-header{
    text-align: center;
    font-weight: bold;
    font-size: px-to-vw(24px, 12px);
  }

  .news-item-sections{
    margin-top: px-to-vw(50px, 12px);

    .section{
      font-size: px-to-vw(16px, 12px);
      margin-top: px-to-vw(40px, 12px);

      h2{
        font-size: px-to-vw(18px, 12px);
        font-weight: bold;
      }

      &:first-of-type{
        margin-top: 0;
      }


      &-title{
        position: relative;
        color: black;

        &.collapsed{
          color: $primary-color;
          &:before{
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            content: '\f0fe';
            display: inline-block;
            margin-right: 1rem;

          }
        }

        &:before{
          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
          content: '\f146';
          display: inline-block;
          margin-right: 1rem;
        }

        &:hover{
          text-decoration: none;
        }


      }

      &-content{
        text-align: justify;
        &.hidden{
          margin-left: 2rem;
        }
      }

    }

  }


}